[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
bentoml = "==1.0.5"
pydantic = "*"
nltk = "*"
plotly = "*"
cufflinks = "*"
nbformat = "*"
wordcloud = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
